<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32001" id="section_general">
        <setting label="32002" id="Path_to_Log" type="folder" source="auto" option="writeable" />
        <setting label="32003" id="LogOption" type="bool" default="false"/>
        <setting label="32004" id="onlyReleased" type="bool" default="false"/>
        <setting label="32005" id="tvdbapikey" type="text" default="" /> 
        <setting label="32006" id="waitTime" type="slider" default="5.0" range="2.0,0.1,20.0" option="float" />
    </category>
</settings>
